.hero {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* --- This is super cool ---*/
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5rem;
  background-image: linear-gradient(
    to right,
    hsl(177, 100%, 50%),
    #faf60c,
    orange,
    hsl(177, 100%, 50%)
  );
  height: 80vh;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.hero-center {
  width: 95vw;
  display: grid;
  align-items: center;
}
.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-info p {
  padding: 1rem 2rem;
}
.hero-info h1 {
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.15;
}
.hero-image {
  display: none;
}

@media (min-width: 800px) {
  .hero-image {
    display: inline-block;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }

  .hero-info {
    display: inline-block;
    text-align: left;
  }

  .hero-info p {
    padding-left: 0;
    padding-right: 2rem;
  }
  .hero-info h1 {
    font-size: 4rem;
  }
}
